@model IEnumerable<Modelo.Usuario>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="height: 300px">
        <br /><br /><br /><br /><br /><h5 style="font-size: larger ;text-align: center"><b>Bem-vindo ao nosso site!<br />Entre com seu login ou faça um cadastro.</b></h5>
    </div>
    <div class="container">
        <a href="~/Usuario/Create" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Cadastrar</a>
        <a href="~/Usuario/Login" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Entrar</a>
    </div>

    <!--<a href="Create" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Cadastrar</a>
    <a href="#" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Entrar</a>-->
</body>
</html>
